<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashbaord_styles.css">
    <!-- Enlace al CDN de Google Material Icons con el estilo Sharp -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <title>Dashboard | Cognicare</title>
    
    
</head>
<body>
    <div class="menu_dashboard">
        <!-- top menu -->
        <div class="top_menu">
            <div class="logo">
                <!-- <img src="" alt=""> -->
                <span>CogniCare</span>
            </div>
        
            <div class="toggle">
                <i class="material-icons-sharp">menu</i>
            </div>
        </div>
        <!--  search -->
        <div class="input_search">
            <i class="material-icons-sharp">search</i>
            <input type="text" class="input" placeholder="Buscar">
        </div>
        <!-- menu -->
        <div class="menu">
            <div class="enlace">
                <i class="material-icons-sharp">home</i>
                <span>Inicio</span>
            </div>

            <div class="enlace">
                <i class="material-icons-sharp">groups</i>
                <span>Pacientes</span>
            </div>

            <div class="enlace">
                <i class="material-icons-sharp">person</i>
                <span>Profesional</span>
            </div>

            <div class="enlace">
                <i class="material-icons-sharp">settings</i>
                <span>Ajustes</span>
            </div>

            <div class="enlace">
                <i class="material-icons-sharp">logout</i>
                <span>Salir</span>
            </div>
        </div>
    </div>

    <script src="dashboard.js"></script>
</body>
</html>