<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet"/>

    <link rel="stylesheet" href="styles.css" />
    <title>CogniCare</title>
</head>
<body>
    <div class="container active">
      
      <div class="form__container signin__container">
        <form action="">
          <h1>Iniciar Sesión</h1>

          <div class="form__group">
            <input type="email" placeholder="Email" />
          </div>

          <div class="form__group">
            <input type="password" placeholder="Contraseña" />
          </div>

          <a href="#" class="forgot__password">¿Olvidaste tu Contraseña?</a>
          
          <button type="submit" class="btn">Iniciar sesión</button>
        </form>
      </div>

       <div class="form__container signup__container">
        <form action="">
          <h1>Crea una cuenta</h1>
          <div class="form__group">
            <input type="text" placeholder="Nombre" />
          </div>
          <div class="form__group">
            <input type="email" placeholder="Email" />
          </div>
          <div class="form__group">
            <input type="password" placeholder="Contraseña" />
          </div>
          <button type="submit" class="btn">Registrarse</button>
        </form>
      </div>

      
      <div class="overlay__container">
        
        <div class="overlay__panel overlay__panel__left">
          <h1>¡Hola!</h1>
          <p>¿No tienes una cuenta?</p>
          <button class="btn singup-btn">Registrarse</button>
        </div>

        <div class="overlay__panel overlay__panel__right">
          <h1>¡Bienvenido!</h1>
          <p>¿Ya tienes una cuenta?</p>
          <button class="btn singin-btn">Iniciar Sesión</button>
        </div>
          
      </div>

    </div>
    <script src="script.js"></script>
</body>
</html>



                