@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --primary-color: #9CF8FF;
    --text-dark: #0f172a;
    --text-light: #94a3b8;
    --extra-light: #f8fafc;
    --white: #FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
    color: var(--white);
}

.panel_profesional, 
.panel_editar {
    position: absolute;
    top: 0;
    left: 100px;
    width: 70%;
    height: 100vh;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.panel_profesional {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr auto;
    gap: 20px;
    padding: 20px;
}

.panel_editar {
    padding: 20px;
}

.panel_editar {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.panel_profesional {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/*alrerna visivilidad*/
.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.panel_profesional h3 {
    color: var(--text-light);
}

/* perfil profesional*/
.perfil {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.perfil .tarjeta {
    background: var(--extra-light);
    box-shadow: 2px 2px 5px var(--text-light);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16px;
    position: relative;
    color: var(--text-light);
}

.perfil_foto {
    margin-left: -10px;
}

.tarjeta .perfil_foto img {
    width: 125px;
    height: 125px;
    border: 1px solid var(--text-dark);
    border-radius: 30rem;
}

.tarjeta .datos_profesional {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.datos_profesional h4 {
    font-size: 1.2rem;
    color: var(--text-light);
    flex-basis: 100%;
    padding-bottom: 0.5rem;
}

.datos_profesional p {
    color: var(--text-dark);
    text-align: left;
    padding: 1rem 0;
    flex-basis: 50%;
    font-size: 14px;
}

.editar_btn,
.editar_btn:hover {
    background-color: transparent;
    color: var(--text-light);
}

/* acceso rapido*/
.acceso_rapido {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -10px;
}

.acceso_rapido a {
    text-decoration: none;
    color: inherit;
}

.pacientes_totales, .pacientes_tto,
.pacientes_dx, .pacientes_mas {
    background-color: var(--text-light);
    box-shadow: 2px 2px 5px var(--text-light);
    width: 100px;
    height: 100px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
}
.pacientes_totales i, .pacientes_tto i,
.pacientes_dx i, .pacientes_mas i {
    font-size: 40px;
    margin-bottom: 0.5rem;
}
.pacientes_totales span, .pacientes_tto span,
.pacientes_dx span, .pacientes_mas span {
    font-size: 12px;
}

/* avance de pacientes */
.avance_pacientes {
    background: var(--extra-light);
    box-shadow: 2px 2px 5px var(--text-light);
    /* background-color: red; */
    margin-top: -20px;
    height: 250px;
    border-radius: 8px;
    padding: 0.5rem;
}

#avancePacienteChart {
    width: 900px; 
    height: 200px;
}

/* PANEL DE EDITAR PERFIL */
.perfil_content {
    background: var(--extra-light);
    /* background-color: transparent; */
    box-shadow: 2px 2px 5px var(--text-light);
    padding: 20px;
    border-radius: 1rem;
    height: 95vh;
    color: var(--text-light);
    z-index: 1010;
}

.panel_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulo_panel {
    font-size: .9rem;
    /* width: 50%; */
}
    /*boton para volver atras*/
.volver {
    /* width: 50%; */
    display: flex;
    justify-content: flex-end;
}
.volver_atras,
.volver_atras:hover {
    background-color: transparent;
    color: var(--text-light);
}

/* formulario del editar perfil */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

form .campo {
    display: flex;
    flex-direction: column;
}

form .nombre {
    grid-column: span 2;
}

form label {
    margin-bottom: 5px;
    font-size: 14px;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--text-light);
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-light);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input::placeholder {
    color: var(--text-light);
}

/*boton que guarda cambios*/
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-time {
    margin-top: 5px;
    background-color: var(--text-light);
}

.add-time:hover {
    background-color: var(--text-dark);
}

.cambios {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding-right: 20px;
}

button:hover {
    background-color: #45a049;
}


.panel_editar.show {
    display: flex;
    opacity: 1;
}

/*panel derecho*/
.panel_derecho {
    position: absolute;
    top: 0;
    right: 0;
    width: 23%;
    height: 100vh;
}

.foto_perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto_perfil img {
    width: 180px;
    height: 180px;
    border-radius: 20rem;
    border: 1px solid var(--text-light);
    /*falta ajustar posicion*/
}

.pacientes {
    height: 300px;
}

.info_paciente {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.info_paciente h5 {
    text-align: left;
}

.info_paciente p {
    color: var(--text-light);
}




